.body{
    font-family: "Georgia", serif;
    color: var(--text);
    font-size: 16px;
    background: #fff;
}

.top-bar{
    display: flex;
    gap: 1.6rem;
    background-color: #ffe4e1;
    padding: 12px 20px;
    justify-content: flex-end;
}

.top-bar a{
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
  color: #3b3b3b;
  margin-left: 20px;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem 3%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.03);
}

.social-media {
  color: #3b3b3b;

}

.logo{
 align-items: center;
 display: flex;
 margin-right: 10px;
}

.logo img{
  width: auto;
  height: 97px;
  display: block;
}

.nav-links{
  display: flex;
  gap: 2.6rem;
  justify-content: center;
  flex: 1;
  align-items: center;
}

.nav-links a{
  text-decoration: none;
  color: #3b3b3b;
  font-size: 18px;
}

.nav-links a:hover{
color: #ffb6af;
}

.actions{
  display: flex;
  align-items:center;
  gap: 0.9rem;
}

.actions input{
  border: none;
  background-color: #ffe4e1;
  padding: 0.2rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  width: 202px;
}

.actions i{
  cursor: pointer;
  font-size: 18px;
  color:#3b3b3b
}

.poster {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;         
  overflow: hidden;        
  height: 47.5rem;    
}

.poster-img {
  height: 100px;
  width: auto;
  display: block;
  max-width: 100%; 
}
